body {
    margin: 0;
    padding: 0;
    font: 12px Arial;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
    background-color: #2450ef;
}
nav ul{
    padding: 15px;
    margin: 0;
    list-style: none;
    position: relative;
    float: right;
}
nav ul li {
    display: inline-block;

}
nav a {
    display: block;
    padding: 10px;
    color: rgb(33, 29, 23);
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
}
nav ul ul {
    display: none;
    position: relative;
}
nav a:hover{
    color: #a79205;
}
nav ul li:hover > ul{
    display: inherit;
    background-color: #1231ca;
    font-size: 20px;
}
nav ul li ul li {
    width: 140px;
    float: none;
    display: list-item;
    position: relative;
}
li > a::after{
    content: '^';
}
li > a:only-child::after{
    content: '';
}
 .bloc1{
    width: 580px;
    height: 300px;
    background-color: #030377;
    color: white;
    padding: 15px;
}
.bloc2 {
    width: 580px;
    height: 300px;
    background-color: beige;
    color: black;
    padding: 15px;
}
section div {
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    text-align:justify;
    box-shadow: 5px;

} 
section h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(19, 3, 110);
}
.bloc1 p{
     margin: 20px;
}
.bloc2 p{
     
} 

.bloc{
    display: flex;
}
section {
    background-color: white;
    padding: 10px;
    width: 100%;
}
button {
    width: 200px;
    padding: 20px;
    height: 50px;
    border-radius: 10px;
    background-color: #ebcd08;
    border: none;
}
button:hover {
    cursor: pointer;
}
.images {
    display: flex;
    flex-direction: column;
}

img {
    width: 100px; /* Ajustez la largeur selon vos besoins */
}
.tableau{
    display: flex;
    
}

.point2 img{
    height: 50px;
    width: 50px;
}
.clients{
    display: flex;
    padding: 20px;
    flex-direction: row;

}
.clients1{
    width: 300px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 10px;
}
.clients2{
    width: 300px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 10px;
}
.clients3{
    width: 300px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 10px;
}
.clients4{
    width: 300px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 10px;
}
.clients1 img{
    width: 100%;
    border-radius: 8px;
}
.clients2 img {
    width: 100%;
    border-radius: 8px;
}
.clients3 img{
    width: 100%;
    border-radius: 8px;
}
.clients4 img {
    width: 100%;
    border-radius: 8px;
}
.client h2{
    font-size: 2.4rem;
    text-align: center;
    color: white;
}
.iconefacebook{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}
.footers {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: white;
}
footer {
    font-size: 20px;
}
.legal ul {
    list-style: none;
    margin: 5px;
}
.legal ul li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
}
.footers h3{
    font-size: 15px;
}
.reseaux{
    margin: 30px;
}
.reseaux i{
    size: 10px;
}
.pays {
    margin: 30px;
}
.legal{
    margin: 30px;
}
.adresse{
    margin: 30px;
    font-size: 15px;
}
.ent{
    margin: 30px;
}
.pied1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pied1 ul li{
    display: inline-block;
}
.pied1 ul li a {
    color: #a79205;
}
.pied {
    justify-content: center;
    align-items: center;
    width: 75%;
    text-align: center;
    font-size: 15px;
    margin: 10%;
    color: white;
}
.point{
    border: 1px;
    margin: 20px;
    width: 300px;
    padding: 20px;
}
.point1{
    border: 1px;
    margin: 20px;
    width: 300px;
    padding: 20px;
}
.point2{
    border: 1px;
    margin: 20px;
    width: 400px;
    padding: 20px;
}
.point2 p{
    font-size: 15px;
}
.tableau h2 {
    font-size: 3.0rem;
    color: #1231ca;
}
.point2 h2{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.imagespays1{
    padding: 6px;
}
.imagespays2{
    padding: 6px;
}
.appstore{
    display: flex;
    margin: 10px;
}
.appstore .code{
    flex-direction: column;
}
.rejoignez{
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.code {
    width: 130px;
    height: 130px;
    background-color: #ebcd08;
    border-radius: 10px;
    margin: 10px;
    transform: rotate(45deg);
}
.code {
    margin:30px;
}
.simple {
    width: 300px;
    height: 90px;
    background-color: white;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.fiable{
    width: 200px;
    height: 90px;
    background-color: rgb(3, 3, 48);
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 10px;
}
.point{
    width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.container2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 10px;

}
.container3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cash{
    width: 550px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.support{
    width: 400px;
    height: 100px;
    background-color: rgb(2, 2, 30);
    border-radius:10px ;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
}
.ouvrez{
    display: flex;
}
.phone img{
    height: 600Px;
    width: 450px;
}
.ouvrez h1{
    font-size: 60px;
}